svg {
  shape-rendering: crispEdges;
}
line{
  shape-rendering: crispEdges;
}

g.bar-holder rect{
    opacity: 0.7;
}

g.bar-holder rect:hover{
    opacity: 1;
}

line.left_line, line.right_line{
    stroke-width: 1;
    stroke: #ddd;
    shape-rendering: auto;
}

text.left_label, text.right_label{
    fill: #aaa;
    font-size: 10px;
}

text.cool_label, text.right_label{
    text-anchor: end;
}

text.cool_label{
    font-size: 11px;
    color: #000;
    font-weight: 800;
}

line.bottom_line, line.top_line{
    stroke-width: 1;
    stroke: #eee;
    stroke-dasharray: 5,5;
    shape-rendering: crispEdge;
}


g.legend circle{
    shape-rendering: auto;
}

g.option-holder circle{
    shape-rendering: auto;
}

g.legend{
    cursor: pointer;
}