svg.pyk-choroplethOneLayer-legend-holder circle{cursor: pointer;}
svg.pyk-choroplethOneLayer-legend-holder text{cursor: pointer;}

svg.pyk-choroplethOneLayer-map-holder g.states path{
    stroke: white;
    stroke-width: 1px;
}

svg.pyk-choroplethOneLayer-map-holder g.states path:hover{stroke-width: 1px;}

svg.pyk-choroplethOneLayer-map-holder g.states.zoomed path{
    fill: none;
    opacity: 1;
}

#color-scale-selector{
	text-align: right;
	padding-top: 15px;
}
svg.linear-range-query {
  font: 10px sans-serif;
}

canvas.linear-range-query, svg.linear-range-query{
  position: absolute;
  top: 0;
  left: 0;
}

#chart.linear-range-query {
  position: relative;
}

svg.linear-range-query .brush .extent {
  fill: rgba(0,0,0,0.12);
  stroke: rgba(255,255,255,0.6);
  shape-rendering: crisp-edges;
}

svg.linear-range-query .dark .brush .extent {
  fill: rgba(255,255,255,0.12);
  stroke: rgba(0,0,0,0.5);
}

svg.linear-range-query .axis line, .axis path {
  fill: none;
  stroke: #222;
  shape-rendering: crispEdges;
}

svg.linear-range-query .axis text {
  fill: #222;
  text-shadow: 1px 1px 1px #fff, -1px -1px 1px #fff;
}

svg.linear-range-query .axis text.label {
  fill: #444;
  font-size: 14px;
}

svg.linear-range-query .dark .axis text {
  fill: #f2f2f2;
  text-shadow: 0 1px 0 #000, 1px 0 0 #000;
}

svg.linear-range-query .dark .axis text.label {
  fill: #ddd;
}

svg.linear-range-query .axis g,
svg.linear-range-query .axis path {
  display: block;
}

svg.linear-range-query #food-list {
  position: absolute;
  left: 220px;
  overflow-x: hidden;
}
svg.linear-range-query #food-list span {
  display: inline-block;
  height: 6px;
  width: 6px;
  margin: 2px 4px;
}

svg.bubble g.node text {font: 10px sans-serif;}
/* CHORD */
.pyk-chord text{
    fill: #1E76B4;
    font-size: 10px;
    font-weight: 200;
}

.spinning {
    -webkit-animation-name: spin;
    -webkit-animation-duration: 320000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 320000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 320000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;

    animation-name: spin;
    animation-duration: 320000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear
}

@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

svg.pyk-choropleth-legend-holder circle{cursor: pointer;}
svg.pyk-choropleth-legend-holder text{cursor: pointer;}

svg.pyk-choropleth-map-holder g.states path{
    stroke: white;
    stroke-width: 2px;
}

svg.pyk-choropleth-map-holder g.states path:hover{stroke-width: 6px;}

svg.pyk-choropleth-map-holder g.states.zoomed path{
    fill: none;
    opacity: 1;
}

svg.pyk-choropleth-map-holder g.counties path{
    stroke: white;
    stroke-width: 0.5px;
}

svg.pyk-choropleth-map-holder g.counties path:hover{stroke-width: 2px;}
.pyk-credits{
	font-size: 11px;
	fill: gray;
}
a .pyk-credits{
	text-decoration: underline;
	fill: blue;
}
.gmnoprint img {
    max-width: none;
}
img[src*="gstatic.com/"], img[src*="googleapis.com/"] {
max-width: none;
}
/* Compare with Circles */

svg.pyk-compare_with_circles{font-family: Arial, sans-serif;font-size:10px;}
svg.pyk-compare_with_circles g.axis path,svg.pyk-compare_with_circles g.axis line {fill: none;stroke:#b6b6b6;shape-rendering: crispEdges;}
/*.tick line{fill:none;stroke:none;}*/
svg.pyk-compare_with_circles g.tick text{fill:#999;}
svg.pyk-compare_with_circles text.label1{font-size:12px;font-weight:bold;cursor:pointer;}
svg.pyk-compare_with_circles text.value{font-size:12px;font-weight:bold;}
svg.pyk-compare_with_circles g.axis text {
    font-family: sans-serif;
    font-size: 12px;
}

svg.pyk-river{shape-rendering: crispEdges;}

svg.pyk-river line{shape-rendering: crispEdges;}

svg.pyk-river g.bar-holder rect{
    opacity: 1;
}

svg.pyk-river g.bar-holder rect:hover{
    opacity: 0.7;
}

svg.pyk-river line.left_line, svg.pyk-river line.right_line{
    stroke-width: 1;
    stroke: #ddd;
    shape-rendering: auto;
}

svg.pyk-river text.left_label, svg.pyk-river text.right_label{
    fill: #aaa;
    font-size: 10px;
}

svg.pyk-river text.cool_label, svg.pyk-river text.right_label{
    text-anchor: end;
}

svg.pyk-river text.cool_label{
    font-size: 11px;
    color: #000;
    font-weight: 800;
}

svg.pyk-river line.bottom_line, svg.pyk-river line.top_line{
    stroke-width: 1;
    stroke: #eee;
    stroke-dasharray: 5,5;
    shape-rendering: crispEdge;
}

svg.pyk-river g.option-holder{
    cursor: pointer;
    shape-rendering: auto;
    font-size: 12px;
}

svg.pyk-river g.legend{
    shape-rendering: auto;
    cursor: pointer;
    font-size: 12px;
}
svg.pyk-ultimate{
    shape-rendering: crispEdges;
    font-size: 10px;
}

svg.pyk-ultimate g.legend_group{
    shape-rendering: auto;
    cursor: pointer;
}

svg.pyk-ultimate text.group_label{
    font-weight: 800;
}


svg.pyk-ultimate .tick line {
    stroke: #eee;
    stroke-width: 1;
}

svg.pyk-ultimate .tick:first-child line{
    stroke-width: 2px;
    stroke: #aaa;
}