#wrap {
  width: 860px;
  margin: 0 auto;
  position: relative;
}

svg.linear-range-query {
  font: 10px sans-serif;
}

canvas, svg.linear-range-query{
  position: absolute;
  top: 0;
  left: 0;
}

#chart {
  position: relative;
}

svg.linear-range-query .brush .extent {
  fill: rgba(0,0,0,0.12);
  stroke: rgba(255,255,255,0.6);
  shape-rendering: crisp-edges;
}

svg.linear-range-query .dark .brush .extent {
  fill: rgba(255,255,255,0.12);
  stroke: rgba(0,0,0,0.5);
}

svg.linear-range-query .axis line, .axis path {
  fill: none;
  stroke: #222;
  shape-rendering: crispEdges;
}

svg.linear-range-query .axis text {
  fill: #222;
  text-shadow: 1px 1px 1px #fff, -1px -1px 1px #fff;
}

svg.linear-range-query .axis text.label {
  fill: #444;
  font-size: 14px;
}

svg.linear-range-query .dark .axis text {
  fill: #f2f2f2;
  text-shadow: 0 1px 0 #000, 1px 0 0 #000;
}

svg.linear-range-query .dark .axis text.label {
  fill: #ddd;
}

svg.linear-range-query .axis g,
svg.linear-range-query .axis path {
  display: block;
}

svg.linear-range-query #food-list {
  position: absolute;
  left: 220px;
  overflow-x: hidden;
}
svg.linear-range-query #food-list span {
  display: inline-block;
  height: 6px;
  width: 6px;
  margin: 2px 4px;
}
