svg.pyk-ultimate{
    shape-rendering: crispEdges;
    font-size: 10px;
}

svg.pyk-ultimate g.legend_group{
    shape-rendering: auto;
    cursor: pointer;
}

svg.pyk-ultimate text.group_label{
    font-weight: 800;
}


svg.pyk-ultimate .tick line {
    stroke: #eee;
    stroke-width: 1;
}

svg.pyk-ultimate .tick:first-child line{
    stroke-width: 2px;
    stroke: #aaa;
}