svg.pyk-river{shape-rendering: crispEdges;}

svg.pyk-river line{shape-rendering: crispEdges;}

svg.pyk-river g.bar-holder rect{
    opacity: 0.7;
}

svg.pyk-river g.bar-holder rect:hover{
    opacity: 1;
}

svg.pyk-river line.left_line, svg.pyk-river line.right_line{
    stroke-width: 1;
    stroke: #ddd;
    shape-rendering: auto;
}

svg.pyk-river text.left_label, svg.pyk-river text.right_label{
    fill: #aaa;
    font-size: 10px;
}

svg.pyk-river text.cool_label, svg.pyk-river text.right_label{
    text-anchor: end;
}

svg.pyk-river text.cool_label{
    font-size: 11px;
    color: #000;
    font-weight: 800;
}

svg.pyk-river line.bottom_line, svg.pyk-river line.top_line{
    stroke-width: 1;
    stroke: #eee;
    stroke-dasharray: 5,5;
    shape-rendering: crispEdge;
}

svg.pyk-river g.option-holder{
    cursor: pointer;
    shape-rendering: auto;
    font-size: 12px;
}

svg.pyk-river g.legend{
    shape-rendering: auto;
    cursor: pointer;
    font-size: 12px;
}